@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --primary-color: #a67c00;
  --secondary-color: #004a80e6;
  --third-color: #d4ac4e;
  --text-color: #212121;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-default {
  font-family: 'EB Garamond', serif;
}
.font-text {
  font-family: 'Inter', sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-family: 'Inter', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  letter-spacing: -0.025rem;
}
body {
  margin: 0;
}
a {
  letter-spacing: -0.025rem;
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  letter-spacing: -0.025rem;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
.bg-primary {
  background-color: var(--primary-color);
}
.border-primary {
  border-color: var(--primary-color);
}
.text-primary {
  color: var(--primary-color);
}
.bg-third {
  background-color: var(--third-color);
}
.border-third {
  border-color: var(--third-color);
}
.text-third {
  color: var(--third-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.border-secondary {
  border-color: var(--secondary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.post {
}
.post p {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 36px;
  font-family: 'EB Garamond', serif;
}
.post-nav {
}
.editor-html .text-gray-600,
.editor-html [classname='text-gray-600'],
.editor-html p,
.editor-html {
  --tw-text-opacity: 1;
  font-family: 'EB Garamond', serif;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  word-break: break-word;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 1.6em;
}
.editor-html img {
  border-radius: 12px;
  margin: 0 auto;
}
.editor-html blockquote {
  max-width: 520px;
}
.button-back {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.editor-html {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: 'EB Garamond', serif;
    color: var(--text-color);
  }
}
.editor-html a {
  color: var(--primary-color);
  text-decoration: underline;
}
.editor-html h2 {
  font-size: 28px;
  line-height: 38px;
}
.banner {
}
.banner-item {
}
.banner-controls {
  position: absolute;
  right: 16px;
  top: 24px;
  z-index: 5;
  gap: 8px;
  display: flex;
  align-items: center;
  button {
    width: 42p;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.banner {
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    content: '';
    top: 0;
    height: 120px;
    z-index: 2;
    width: 100%;
    color: #fff;
    padding: 24px;
    border-radius: 12px 12px 0 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.89) 100%
    );
  }
}
.slick-active div {
  opacity: 1 !important;
}

.banner-progress {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 28px;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  z-index: 3;
}
.banner-progress-bar {
  width: 0%;
  height: 100%;
  background: #fff;
  border-radius: 28px;
}
.banner-info p {
  opacity: 0.88;
}
.banner-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 24px;
  border-radius: 0 0 12px 12px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.89) 100%
  );
}

[vaul-drawer] {
  z-index: 999999;
}
[vaul-overlay] {
  z-index: 999999;
}

.slick-next {
  right: 25px;
}

.spinner circle {
  stroke: #d1d1d1;
}

.shimmer-container {
  > div {
    border-radius: 12px;
  }
}

.shimmer-fluid {
  > div {
    border-radius: 12px;
    width: 100% !important;
  }
}
